html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #000;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', 'Helvetica Neue', helvetica, trebuchet, sans-serif;
  color: #fff;
  height: 100%;
  font-weight: 300;
  line-height: 1.6;
  font-size: 100%;
}

p {
  font-size: 1.125em;
}

label {
  text-align: left;
}

.full-height {
  position: absolute;
  top: 0;
  bottom: 0;
}

.centered-body {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  width: 33%;
  transform: translateX(-14%) translateY(-50%);
}

.main-body {
  z-index: 2;
}

.settings-body {
  z-index: 4;
  background-color: rgba(0,0,0,0.8);
  padding: 16px;
  display: none;
}

#link-items {
  text-align: left;
  list-style-type: none;
}

.settings-list-item {
  padding-bottom: 0.125em;
  padding-top: 0.125em;
  cursor: move;
  cursor: -webkit-grabbing;
}

.modal-heading {
  font-size: 2.4em;
  border-bottom: 1px solid #e5e5e5;
}

.modal-secondary-heading {
  font-size: 1.25em;
  margin-top: 0.125em;
  margin-bottom: 0.125em;
}

.delete-link {
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
}

.delete-link a:link {
  text-decoration: none;
}

.delete-link a:visited {
  text-decoration: none;
}

.delete-link a:hover {
  text-decoration: none;
}

.delete-link a:active {
  text-decoration: none;
}

#settings-submit-button {
  padding-top: 0.25em;
  padding-bottom: 0.125em;
}

.settings-link-type {
  font-weight: 400;
  text-align: right;
  padding-top: 8px;
  padding-bottom: 8px;
}

.index-background {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  z-index: -3;
}

.index-background img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: auto;
  height: auto;
  min-width: 50%;
  min-height: 50%;
  opacity: 0.6;
}

.vertical-padded-wrapper {
  padding-top: 32px;
  padding-bottom: 32px;
}

.overlay-bar {
  background-color: rgba(0,0,0,0.7);
  z-index: 10;
}

.classy-input {
  color: #111;
}

.attribution {
  font-size: 0.8em;
  position: absolute;
  bottom: 0;
  padding-bottom: 8px;
  padding-top: 8px;
  padding-left: 16px;
  padding-right: 16px;
}

.attribution a:link, .settings-body a:link {
  color: #3399FF;
}
.attribution a:visited, .settings-body a:visited {
  color: #297ACC;
}
.attribution a:hover, .settings-body a:hover {
  color: #5CADFF;
}
.attribution a:active, .settings-body a:active {
  color: #5CADFF;
}

/* Overriding styles */
.pure-menu-link {
  color: #ddd;
}
.pure-menu-heading {
  color: #bbb;
}

.pure-menu-heading h1 {
  font-weight: 300;
  font-size: 1.5em;
}

.pure-menu-active > .pure-menu-link,
.pure-menu-link:hover,
.pure-menu-link:focus {
  background-color: rgba(72,72,72,0.8);
}

.pure-menu-selected .pure-menu-link,
.pure-menu-selected .pure-menu-link:visited {
  color: #aaa;
}

.pure-form legend {
  color: #bbb;
}

.pure-form select {
  color: #111;
}

.pure-form input {
  color: #111;
}

/* Media Queries */
/* Small */
@media screen and (min-width:35.5em) {
  .centered-body {
    width: 40%;
    transform: translateX(-13%) translateY(-50%);
  }

  #clock {
    font-size: 2.4em;
  }

  #date, #motivational-quote {
    font-size: 1.25em;
  }

  .modal-heading {
    margin-top: 0.125em;
    margin-bottom: 0.125em;
    font-size: 1.25em;
  }
}

/* Medium + */
@media screen and (min-width:48em) {
  .centered-body {
    width: 48%;
    transform: translateX(-33%) translateY(-50%);
  }

  #clock {
    font-size: 6.5em;
  }

  #date, #motivational-quote {
    font-size: 2.4em;
  }

  .modal-heading {
    font-size: 2.4em;
  }
}
